.main-page {
  width:600px;
  margin: auto;
  padding:1.5em;
}

.canvas {
  border:1px solid #ddd;
}

.gridline {
  stroke: black;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
  stroke-opacity: .2;
}

.plot-title {
  font-size: 14px;
  font-weight: bold;
}

.legend-title{
  font-size: 11px;
  font-weight: bold;
}

.legend-text{
  font-size: 11px;
}

.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  opacity: 0;
}