.main-page {
  width:90%;
  margin: auto;
  padding:1.5em;
}

/************** D3 Graphs Styles *****************/

.canvas {
  border:1px solid #ddd;
}

.gridline {
  stroke: black;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
  stroke-opacity: .2;
}

.plot-title {
  font-size: 14px;
  font-weight: bold;
}

.legend-title{
  font-size: 11px;
  font-weight: bold;
}

.legend-text{
  font-size: 11px;
}

.tooltip {
  position: absolute;
  color: #595959;
  background-color: white;
  border: 1px solid #595959;
  border-radius: 5px;
  padding: 10px;
  opacity: 0;
}

.circle:hover {
  stroke: #595959;
}

/************** Sidebar Menu Styles *****************/

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #7386d5;
  color: #fff;
  margin-left: -250px;
  transition: all 0.5s;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #6d7fcc;
}

.sidebar-header h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.menu-open {
  background: #6d7fcc;
}

.nav-item:hover {
  color: #7386d5;
  background: #fff;
}

.items-menu {
  color: #fff;
  background: #6d7fcc;
}

li {
  text-decoration: none;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #5466b3;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #3a4c99;
}