/************** App Styles *****************/

.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap');

body {
  font-family: 'Nunito';
  background: #fafafa;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/************** SideBar Styles *****************/

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #2c2e2e;
  color: #fff;
  margin-left: -250px;
  transition: all 0.5s;
  height: 100vh;
  position: fixed;
  padding:0.5em;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #2c2e2e;
}

.sidebar-header h3 {
  color: #fff;
  padding: 1em 0 1em 0.5em;
  font-size: 2em;
}

.sidebar h6 {
  color: #fff;
  padding: 1.3em 0 0 0.5em;
  font-size: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.sidebar  a {
  color: #fff ;
  font-size:1.4em;
  line-height: 2em;
  padding:0.5em;
  padding-left:1.4em;
}

.nav-item:hover{
  background: #333636;
}

.sidebar  a:hover {
  text-decoration: none;
  color: #fff;
}

.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
  padding:0;
}

.side-menu::-webkit-scrollbar {
  width: 8px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.exit {
  height:40px;
  display:flex;
  flex-direction: row-reverse;
  float:right;
}

/************** Content Styles *****************/

.content {
  padding: 20px;
  margin-left: 0;
  height: 100vh;
  margin-left: 0px;
  transition: 0.5s !important;
  width: 100%;
}

.content.is-open {
  margin-left: 250px;
  transition: 0.5s;
}

.open.is-invisible {
  visibility: hidden
}
/************** D3 Graphs Styles *****************/

.canvas {
  border:1px solid #ddd;
}

.gridline {
  stroke: black;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
  stroke-opacity: .2;
}

.plot-title {
  font-size: 14px;
  font-weight: bold;
}

.legend-title{
  font-size: 11px;
  font-weight: bold;
}

.legend-text{
  font-size: 11px;
}

.tooltip {
  position: absolute;
  color: #595959;
  background-color: white;
  border: 1px solid #595959;
  border-radius: 5px;
  padding: 10px;
  opacity: 0;
}

.circle:hover {
  stroke: #595959;
}